[data-skin="vaporwave"] { letter-spacing: 2px; }
      [data-skin="vaporwave"] [data-vlc-region="title"],
      [data-skin="vaporwave"] [data-vlc-region="menu"] { text-transform: uppercase; }
      [data-skin="vaporwave"] [data-vlc-region="seek"],
      [data-skin="vaporwave"] [data-vlc-region="control"] {
        background-image: linear-gradient(transparent 1px, rgba(255,113,206,0.08) 1px), linear-gradient(90deg, transparent 1px, rgba(1,205,254,0.08) 1px);
        background-size: 16px 16px;
        text-shadow: 2px 0 #01cdfe, -2px 0 #ff71ce;
      }
